<div class="header_wrapper">
    <span class="header_logo_img" (click)="navigateToDashboard()"><img src="https://planetary.s3.amazonaws.com/web/assets/pictures/_1200x1159_crop_center-center_82_line/106478/20180515_Indian_Space_Research_Organisation_Logo_svg.jpg.webp" alt="" srcset=""></span>
    <span class="header_logo_img"(click)="navigateToDashboard()"><img src="https://www.freepnglogos.com/uploads/indian-flag-png/indian-flag-india-day-background-png-image-download-5.png" alt="" srcset=""></span>
</div>